.explore_outdoors_css h1{
    color:#729678;
    font-family: 'DM Mono', monospace;
}

.explore_outdoors_css h4{
    color:#729678;
    font-family: 'DM Mono', monospace;
    float: left;
}

.explore_outdoors_css hr {
    background-color: #222b23;
    height: 1px;
}

.explore_outdoors_css p{
    color:whitesmoke;

}

.explore_outdoors_css img{
    margin: 20px;
}


.explore_outdoors_css #git-hub:hover {
    color: #729678;
}

.explore_outdoors_css #git-hub {
    font-size:10pt;
}

.explore_outdoors_css #scroll-top {
    position: fixed;
    background-color: #222b23;
    /* opacity: 0.2; */
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 15px;   
}

.explore_outdoors_css i {
    color:whitesmoke;
    /* opacity: 1!important; */
}

.explore_outdoors_css .btn-try {
    background-color: #222b23!important;
}



