.heimdall_css h1{
    color:rgb(43, 102, 150);
    font-family: 'DM Mono', monospace;
}

.heimdall_css h4{
    color:rgb(43, 102, 150);
    font-family: 'DM Mono', monospace;
    float: left;
}

.heimdall_css hr {
    background-color: rgb(43, 102, 150);
    height: 1px;
}

.heimdall_css a {
    text-decoration: none;
}

.heimdall_css p{
    color:whitesmoke;

}

.heimdall_css img{
    margin: 20px;
}

.heimdall_css #git-hub:hover {
    color: rgb(43, 102, 150);
}

.heimdall_css #git-hub {
    font-size:10pt;
}

.heimdall_css #scroll-top {
    position: fixed;
    background-color: rgb(43, 102, 150);
    /* opacity: 0.2; */
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 15px;   
}

.heimdall_css i {
    color:whitesmoke;
    /* opacity: 1!important; */
}

.heimdall_css .btn-try {
    background-color: rgb(43, 102, 150)!important;

}

