h1{
    color:rgb(43, 102, 150);
    font-family: 'DM Mono', monospace;
}

h4{
    color:rgb(43, 102, 150);
    font-family: 'DM Mono', monospace;
    float: left;
}

hr {
    background-color: rgb(43, 102, 150);
    height: 1px;
}

p{
    color:whitesmoke;

}

#git-hub:hover {
    color: rgb(43, 102, 150);
}

#git-hub {
    font-size:10pt;
}

#scroll-top {
    position: fixed;
    background-color: rgb(43, 102, 150);
    /* opacity: 0.2; */
    height: 50px;
    width: 50px;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 15px;   
}

i {
    color:whitesmoke;
    /* opacity: 1!important; */
}

.btn-try {
    background-color: rgb(43, 102, 150)!important;

}

